.Wrapper {
    z-index: -2;
    background:#0f497c;
    background-image: linear-gradient(to right, #0f497c,#4f84b3,#0f497c);
    position: absolute;
    width: 100%;
    height: 100vh;
    min-height: 600px;
    padding: 0;
    margin: 0;
}

.Barney {
    z-index: -1;
    position: fixed;
    bottom: 5%;
    left: 5%;
    max-height: 100vh;
}

.Ned {
    z-index: -1;
    position: fixed;
    bottom: 5%;
    right: 5%;
    max-height: 100vh;
}